<header>
    <!-- <div class="container">
        <div class="row">
           <div class="col-sm-12 p-flex p-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span> 
                        <span></span>
                    </li>
                    <li>
                        <img class="p-cursor" src="assets/img/loupe.png" alt="L'icone de recherche" width="20" />
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Accueil</a>
                    </li>
                    <li>
                        <a class="button-menu" href="#formation">Formation</a>
                    </li>
                    <li>
                        <a class="button-menu" href="#experience">Experiences</a>
                    </li>
                    <li>
                        <a class="button-menu" href="#centre-interets">Centre d'intérêts</a>
                    </li>
                    <li>
                        <a class="button-menu" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top justify-content-center" id="mainNav">
    <div class="d-flex">
        <a class="navbar-brand" href="#page-top">Christophe TRAN</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" (click)="isCollabsed = !isCollabsed"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollabsed" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item mx-0 mx-lg-2"><a class="nav-link py-3 px-0 px-lg-2 rounded" routerLink= '/experiences' (click)="isCollabsed = true"><i class="fas fa-vials" style="color: white;"></i> Expériences</a></li>
                <li class="nav-item mx-0 mx-lg-2"><a class="nav-link py-3 px-0 px-lg-2 rounded" routerLink= '/formation' (click)="isCollabsed = true"><i class="fas fa-graduation-cap" style="color: white;"></i> Formation</a></li>
                <li class="nav-item mx-0 mx-lg-2"><a class="nav-link py-3 px-0 px-lg-2 rounded" routerLink= '/competences'(click)="isCollabsed = true"><i class="fas fa-laptop-code"></i> Compétences</a></li>
                <li class="nav-item mx-0 mx-lg-2"><a class="nav-link py-3 px-0 px-lg-2 rounded" routerLink= '/centre-interets' (click)="isCollabsed = true"><i class="fas fa-gamepad"></i> Centre d'Interets</a></li>
                <li class="nav-item mx-0 mx-lg-2"><a class="nav-link py-3 px-0 px-lg-2 rounded" routerLink= '/contact' (click)="isCollabsed = true"><i class="fas fa-address-book"></i> Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

</header>