<section class="page-section bg-primary text-white mb-0" id="experience">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">EXPERIENCES</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        
        <div class="row">
          <div class="col-md-12">
            
                   
                      <div id="content">
                          <ul class="timeline">
                            <li class="event" data-date="2020 - 2021">
                              <h2>Plebicom</h2>
                              <h2>Chef de Produit</h2>
                              <p>Analyse du marché, Accompagnement de l'équipe Technique, Participation à la validation du projet.</p>
                              <p>Gestion du Sprint</p>
                          </li>
                              <li class="event" data-date="2019 - 2020">
                                  <h2>Plebicom</h2>
                                  <h2>Assitant SEO</h2>
                                  <p>Chargé du référencement Web du site eBuyclub</p>
                              </li>
                              <li class="event" data-date="2017 - 2018">
                                  <h3>Stage chez Pubagogo</h3>
                                  <h2>5 Semaines</h2>
                                  <p>Modification du site vitrine</p>
                                  <p>Traitement base de données </p>
                              </li>                         
                          </ul>
                      
                  
              </div>
          </div>
      </div>
      
    </div>
</section>
