<section class="page-section bg-primary text-white mb-0" id="contact">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">CONTACT</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        <form>      
          <input name="name" type="text" class="feedback-input" placeholder="Nom prénom" />   
          <input name="email" type="text" class="feedback-input" placeholder="Email" />
          <textarea name="text" class="feedback-input" placeholder="Commentaires"></textarea>
          <input type="submit" value="SUBMIT"/>
        </form>
        </div>
   
    
    
  </section>
