<section class="page-section bg-primary text-white mb-0" id="formation">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">FORMATION</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        <div class="row">
          <div class="col-md-12">
            
                   
                      <div id="content">
                          <ul class="timeline">
                              <li class="event" data-date="2019 - 2020">
                                  <h3>Formation Alternance</h3>
                                  <p>Bachelor Chef de Projets Informatique Spécialisation Ingénierie Des Applications (Ecole : Sciences-U Lyon</p>
                              </li>
                              <li class="event" data-date="2017 - 2019">
                                  <h3>Formation</h3>
                                  <p>BTS Services Informatiques aux Organisations Opton SLAM (Solutions Logicielles et Applications Métiers)</p>
                                  <p>Titulaire du BTS Services Informatiques aux Organisations</p>
                              </li>
                              <li class="event" data-date="2015 - 2016">
                                  <h3>Formation</h3>
                                  <p>Terminale Sciences Technologies du Management et de la Gestion spécialité Gestion & Finance</p>
                                  <p>Titulaire du Baccalauréat Technologique STMG</p>
                              </li>
                              <li class="event" data-date="2013 - 2014">
                                  <h3>Formation</h3>
                                  <p>Seconde Préparatoire (Lycée Belmont Capdepon à Lyon 7e)</p>
                              </li>
                              <li class="event" data-date="2012 - 2013">
                                <h3>Formation</h3>
                                <p>Titulaire du Brevet des collèges (Collège La Xavière à Vénissieux</p>
                            </li>
                          </ul>
                      
                  
              </div>
          </div>
      </div>
    </div>
  </section>
  
  
