<section>
    <div class="container-test">
        <div class="row">
          <div class="p-profile"></div>
        </div>
    </div>
</section>

<section class="page-section bg-primary text-white mb-0" id="experience">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">EXPERIENCES</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        
        <div class="row">
          <div class="col-md-12">
            
                   
                      <div id="content">
                          <ul class="timeline">
                            <li class="event" data-date="2020 - 2021">
                              <h2>Plebicom</h2>
                              <h2>Chef de Produit</h2>
                              <p>Analyse du marché, Accompagnement de l'équipe Technique, Participation à la validation du projet.</p>
                              <p>Gestion du Sprint</p>
                          </li>
                              <li class="event" data-date="2019 - 2020">
                                  <h2>Plebicom</h2>
                                  <h2>Assitant SEO</h2>
                                  <p>Chargé du référencement Web du site eBuyclub</p>
                              </li>
                              <li class="event" data-date="2017 - 2018">
                                  <h3>Stage chez Pubagogo</h3>
                                  <h2>5 Semaines</h2>
                                  <p>Modification du site vitrine</p>
                                  <p>Traitement base de données </p>
                              </li>                         
                          </ul>
                      
                  
              </div>
          </div>
      </div>
      
    </div>
</section>

<section class="page-section bg-primary text-white mb-0" id="formation">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">FORMATION</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        <div class="row">
          <div class="col-md-12">
            
                   
                      <div id="content">
                          <ul class="timeline">
                              <li class="event" data-date="2019 - 2020">
                                  <h3>Formation Alternance</h3>
                                  <p>Bachelor Chef de Projets Informatique Spécialisation Ingénierie Des Applications (Ecole : Sciences-U Lyon</p>
                              </li>
                              <li class="event" data-date="2017 - 2019">
                                  <h3>Formation</h3>
                                  <p>BTS Services Informatiques aux Organisations Opton SLAM (Solutions Logicielles et Applications Métiers)</p>
                                  <p>Titulaire du BTS Services Informatiques aux Organisations</p>
                              </li>
                              <li class="event" data-date="2015 - 2016">
                                  <h3>Formation</h3>
                                  <p>Terminale Sciences Technologies du Management et de la Gestion spécialité Gestion & Finance</p>
                                  <p>Titulaire du Baccalauréat Technologique STMG</p>
                              </li>
                              <li class="event" data-date="2013 - 2014">
                                  <h3>Formation</h3>
                                  <p>Seconde Préparatoire (Lycée Belmont Capdepon à Lyon 7e)</p>
                              </li>
                              <li class="event" data-date="2012 - 2013">
                                <h3>Formation</h3>
                                <p>Titulaire du Brevet des collèges (Collège La Xavière à Vénissieux</p>
                            </li>
                          </ul>
                      
                  
              </div>
          </div>
      </div>
    </div>
  </section>
  

      <section class="page-section bg-primary text-white mb-0" id="competences">
        <div class="container">
            <!-- Skills Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">COMPETENCES</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Skills Section Content-->
            <div class="row">
                <div class="col-lg-0 ms-auto">
                  <h3 class="h3gauche">Professionnelles</h3>
                  <div class="comp">
                      <p>HTML / CSS</p>
                      <div class="conteneur-barre"><span class="barre c100"></span></div>
                  </div>
                  <div class="comp">
                      <p>PHP / MySQL</p>
                      <div class="conteneur-barre"><span class="barre c95"></span></div>
                  </div>
                  <div class="comp">
                      <p>JavaScript</p>
                      <div class="conteneur-barre"><span class="barre c90"></span></div>
                  </div>
                  <div class="comp">
                      <p>SEO</p>
                      <div class="conteneur-barre"><span class="barre c100"></span></div>
                  </div>
                  <h3 class="h3gauche">Personnelles</h3>
                  <div class="comp2">
                      <p>Autonome</p>
                      <p>90%</p>
                      <div class="conteneur-barre2"><span class="barre c90"></span></div>
                  </div>
                  <div class="comp2">
                      <p>Adaptation</p>
                      <p>85%</p>
                      <div class="conteneur-barre2"><span class="barre c85"></span></div>
                  </div>
                  <div class="comp2">
                      <p>Sérieux</p>
                      <p>95%</p>
                      <div class="conteneur-barre2"><span class="barre c95"></span></div>
                  </div>
                  <div class="comp2">
                      <p>Rigoureux</p>
                      <p>95%</p>
                      <div class="conteneur-barre2"><span class="barre c95"></span></div>
                  </div>
                </div>
            </div>
        </div>
    </section>
  
    
  <section class="page-section bg-primary text-white mb-0" id="centre-interets">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">CENTRE D'INTERETS</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
      
          
        <div class="container">
          <div class="carousel slide" id="main-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#main-carousel" data-slide-to="1"></li>
              <li data-target="#main-carousel" data-slide-to="2"></li>
              <li data-target="#main-carousel" data-slide-to="3"></li>
            </ol><!-- /.carousel-indicators -->
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="assets/img/jeux.jpg" alt="">
                <div class="carousel-caption d-none d-md-block">
                  <h1>Jeux Vidéos</h1>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/img/mangas.png" alt="test">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Mangas</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/img/musique.jpg" alt="">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Musique</h3>
                </div>
              </div>
          
            </div><!-- /.carousel-inner -->
            
            <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="sr-only" aria-hidden="true">Prev</span>
            </a>
            <a href="#main-carousel" class="carousel-control-next" data-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="sr-only" aria-hidden="true">Next</span>
            </a>
          </div><!-- /.carousel -->
        </div><!-- /.container -->
  
      </div>
  </section>

  <section class="page-section bg-primary text-white mb-0" id="contact">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">CONTACT</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        <div class="row">
            <div class="col-lg-0 ms-auto">
            
                <div class="row input-container">
                    <div class="col-xs-12">
                      <div class="styled-input wide">
                        <input type="text" required />
                        <label>Nom Prénom</label> 
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="styled-input">
                        <input type="text" required />
                        <label>Email</label> 
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="styled-input" style="float:right;">
                        <input type="text" required />
                        <label>Tél :</label> 
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="styled-input wide">
                        <textarea required></textarea>
                        <label>Message</label>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="btn-lrg submit-btn">Envoyer</div>
                    </div>
                </div>
              </div>
            </div>
        </div>

    
  </section>

<!-- <app-experiences></app-experiences>
<app-formation></app-formation>
<app-competences></app-competences>
<app-centre-interets></app-centre-interets>
<app-contact></app-contact> -->